*{
	margin: 0 auto;
	background-color: #E8E8E8;
}

.content{
	width: 100%;
	float: left;
}

#content1{
	display: none;
}

#novoCliente{
	display: block;
}

.botao{
	float: left;
	width: 49.95%;
	height: 75px;
	background-color: #6BA42C;
	text-align: center;
	cursor: pointer;

}

.botao p{
	top:25;
	bottom:0;
	background-color: #6BA42C;
	position: relative;
}

#botaoEsq{
	border-left: 1px solid white;
}

input{
	background: white;
}
