#content1{
	width: 100%;
	height: 300px;
	background-color: #000;
	color: #fff;
}

#content2{
	width: 100%;
	height: 300px;
	background-color: green;
	color: #fff;
}

#botao{
	width: 100px;
	height: 100px;
	background-color: #ff0;
}

.content{
	display: none;
}